/****************************** RESET **************************
****************************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/*************** REUSABLE CLASSES *****************
*****************************************************/

.row {
    display: flex;
}

.sp-btwn {
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

a:hover,
button:hover {
    cursor: pointer;
}

a, .btn-primary {
    font-size: 1.4rem;
}

ul li {
    list-style-type: none;
}

.btn-primary {
    background-color: #0061ff;
    color: #fff;
    border: 0;
}

p {
    font-size: 1.6rem;
}

.ctn-big {
    max-width: 1180px;
    margin: 0 auto;
}

.ctn-mid {
    max-width: 960px;
    margin: 0 auto;
}

.ctn-foot {
    max-width: 1040px;
    margin: 0 auto;
}

.ctn-mid h2 {
    font-size: 3.5rem;
    margin-bottom: 40px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-60 {
    margin-bottom: 60px;
}

.w-30 {
    width: 30%;
}

.w-70 {
    width: 70%;
}

main section:not(.jumbo-section) {
    padding: 80px 0;
}

/*************** HEADER *****************/

header:not(.subscription-plans .plan > header) {
    background-color: #fff;
    align-items: center;
    position: fixed;
    z-index: 400;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0px 15px 20px -1px rgba(242,196,242,1);
    -moz-box-shadow: 0px 15px 20px -1px rgba(242,196,242,1);
    box-shadow: 0px 15px 20px -1px rgba(242,196,242,1);
}

header .nav-left ul,
header .nav-right ul {
    align-items: center;
}

header .nav-left ul li,
header .nav-right ul li {
    padding: 10px;
    margin: 10px;
}

.nav-left ul li a .drop-logo {
    width: 100px;
}

.nav-right ul li .nav-btn {
    padding: 5px 10px;
}

.nav-left ul li,
.nav-right ul li  {
    position: relative;
}

.nav-left ul li a::after,
.nav-right ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    height: 0.125em;
    background: black;
    bottom: -0.25em;
    transition: ease .40s;
}

.nav-left ul li a:hover::after,
.nav-right ul li a:hover::after {
    width: 100%;
}

/*************** MAIN *****************/

/* Jumbotron */

.jumbo-section {
    background-color:  #b4d0e7;
    margin-bottom: 40px;
    padding-bottom: 80px;
}

.jumbo-section .jumbo-top {
    position: relative;
    top: 140px;
    text-align: left;
}

.jumbo-section .jumbo-top h1 {
    font-size: 7rem;
    font-weight: 900;
}

.jumbo-bottom .jumbo-right img {
    width: 100%;
}

.jumbo-bottom .jumbo-left p:nth-of-type(1) {
    line-height: 20px;
}


.jumbo-bottom .jumbo-left  a > .btn-primary {
    padding: 10px 20px;
}

.jumbo-bottom .jumbo-left button i {
    position: absolute;
    bottom: 70px;
    font-size: 5rem;
}

/************************* Section 2 *******************/



.section-two label {
    margin-right: 20px;
}

.section-two label input {
    margin-bottom: 40px;
    vertical-align: top;
}

.plan,
.client-service  {
    border: 1px solid lightgrey;
}

.subscription-plans .plan .plan-title,
.client-service .title {
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 8px 0;
}

.subscription-plans .plan .plan-title,
.client-service .title,
.subscription-plans .plan > article,
.subscription-plans .plan ul li > p,
.client-service .info .info-left h4 {
    font-size: 1.4rem;
}

.subscription-plans .plan .plan-info {
    padding: 20px 25px;
}

.subscription-plans .plan h3,
.client-service .info .info-left h3,
.drop-business-ctn .item h3 {
    font-size: 2.2rem;
}

.subscription-plans .plan hr {
    width: 60px;
}

.subscription-plans .plan ul li a > .btn-primary,
.client-service .info .info-right div a > .btn-primary {
    padding: 10px 20px;
}

.subscription-plans .plan ul li > .buy,
.subscription-plans .plan ul li > .fa-check {
    color: #8110f0;
}

.subscription-plans .plan ul li > .buy {
    text-decoration: underline;
}

.subscription-plans .plan ul li > p {
    display: inline;
}

.client-service {
    margin-top: 30px;
}

.client-service > .info {
    padding: 40px;
}

.client-service .info .info-right {
    justify-content: flex-end;
}

/************************* Section 3 *******************/

.section-three .left {
    width: 65%;
}

.section-three .left img {
    width: 100%;
}

.section-three .right h2 {
    font-size: 3rem;
}

.section-three .right p {
    line-height: 25px;
}

.section-three .right a > button {
    background-color: transparent;
    border: 1px solid black;
    padding: 10px 16px;
}

/************************* Section 4 *******************/

.drop-business-ctn {
    flex-wrap: wrap;
}

.drop-business-ctn .item img {
    width: 100%;
}

/************************* Section 5 *******************/

.section-five h2 {
    line-height: 45px;
}

.section-five a {
    text-decoration: underline;
    color: #0b0ef2;
}

/************************* Section 6 *******************/

.section-six .top .left,
.section-six .top .center,
.section-six .top .right {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.section-six .top .left,
.section-six .top .right {
    flex-wrap: wrap;
}

.section-six .top .left div,
.section-six .top .right div {
    height: 50%;
    width: 50%;
    position: relative;
}

.section-six .top .left div img,
.section-six .top .right div img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-six .left .sponsor-1 {
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
}

.section-six .left .sponsor-1 img,
.section-six .left .sponsor-3 img {
    filter: invert(100%);
}

.section-six .left .sponsor-2 {
    background-color: #61082b;
}

.section-six .left .sponsor-3 {
    background-color: #0093ce;
}

.section-six .left .sponsor-4 {
    background-color: #ff1c1c;
}

.section-six .top .center {
    background-color: #f5f5f5;
    padding: 50px;
    overflow: auto;
}

.section-six .top  .center div > img {
    width: 50%;
}

.section-six .top .center hr {
    width: 20%;
}

.section-six .top .center span {
    font-size: 1.6rem;
}

.section-six .right .sponsor-5 {
    background-color :#d5001f;
}

.section-six .right .sponsor-6 {
    background-color :#b4d0e7;
}

.section-six .right .sponsor-7 {
    background-color :#0d2481;
}

.section-six .right .sponsor-8 {
    background-color :#ffd830;
}

.section-six .bottom {
    background-color: #b4d0e7;
    height: 30vh;
    align-items: center;
}

.section-six .bottom h2 {
    width: 50%;
}

.section-six .bottom a > button {
    background-color: #fff;
    color: #000;
    padding: 12px 28px;
    border: 0;
}

/************************* Section 7 *******************/

.section-seven .faq {
    flex-wrap: wrap;
    padding: 30px 0;
    border-bottom: 1px solid #000;
}

.section-seven .faq:nth-of-type(1){
    border-top: 1px solid #000;
}

.faq > .text-hidden,
.faq .btn-pop > .fa-chevron-up {
    display: none;
}

.text-hidden {
    margin-top: 30px;
}

.btn-pop:hover + .text-hidden,
.btn-pop:hover .fa-chevron-up {
    display: block;
}

.btn-pop:hover .fa-chevron-down {
    display: none;
}

.section-seven .faq h4,
.section-seven .faq .text-pop {
    font-size: 1.6rem;
}

.section-seven .faq button {
    font-size: 1.2rem;
    margin-right: 30px;
    border: 0;
    background-color: transparent;
}


/*************** FOOTER *****************/

footer {
    background-color: #000;
    color: #fff;
}

.footer-top {
    padding: 50px 0;
}

.footer-top .footer-top-item h3 {
    font-size: 2.5rem;
    margin-bottom: 25px;
}

.footer-top .footer-top-item ul li {
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.footer-bottom hr {
    width: 10%;
}

.footer-bottom {
    color: #999999;
}

.footer-bottom > div {
    padding: 40px 0;
    font-size: 1.4rem;
}

.footer-bottom div span,
.footer-bottom div span i {
    margin-left: 5px;
}


