/****************************** RESET **************************
****************************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    color: black;
}

/*************** REUSABLE CLASSES *****************
*****************************************************/

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
}

a:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

ul li {
    list-style-type: none;
}

.btn-primary {
    background-color: #0061ff;
    color: #fff;
    font-size: 1.3rem;
}

p {
    font-size: 1.4rem;
}

.ctn-big {
    width: 70%;
    margin: 0 auto;
}

.ctn-mid {
    width: 55%;
    margin: 0 auto;
}

.ctn-mid h2 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-60 {
    margin-bottom: 60px;
}


/*************** HEADER *****************/

header {
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 400;
    top: 0;
    left: 0;
    right: 0;
}

header .nav-left ul,
header .nav-right ul {
    align-items: center;
}

header .nav-left ul li,
header .nav-right ul li {
    padding: 10px;
    margin: 10px;
}

.nav-left ul li a .drop-logo {
    width: 100px;
}

.nav-right ul li .nav-btn {
    padding: 5px 10px;
    border: 0;
}

.nav-left ul li,
.nav-right ul li  {
    position: relative;
}

.nav-left ul li a::after,
.nav-right ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    height: 0.125em;
    background: black;
    bottom: -0.25em;
    transition: ease .40s;
}

.nav-left ul li a:hover::after,
.nav-right ul li a:hover::after {
    width: 100%;
}

/*************** MAIN *****************/

/* Jumbotron */

.jumbo-section {
    background-color:  #b4d0e7;
    margin-bottom: 63px;
}

.jumbo-section .jumbo-top {
    position: relative;
    top: 140px;
    padding: 0 100px;
    text-align: left;
}

.jumbo-section .jumbo-top h1 {
    font-size: 8rem;
    font-weight: 900;
}

.jumbo-section .jumbo-bottom .jumbo-left {
    width: 30%;
}

.jumbo-section .jumbo-bottom .jumbo-right {
    width: 70%;
}

.jumbo-bottom .jumbo-right img {
    width: 100%;
}

.jumbo-bottom .jumbo-left p:nth-of-type(1) {
    line-height: 20px;
}


.jumbo-bottom .jumbo-left a > .btn-primary {
    background-color: #0061ff;
    color: #fff;
    font-size: 1.3rem;
    padding: 10px 20px;
}

.jumbo-bottom .jumbo-left button {
    background-color: transparent;
    color: black;
    border: 0;
}

.jumbo-bottom .jumbo-left button i {
    font-size: 5rem;
}

/* Section 2*/

main section:nth-of-type(1n+1) {
    padding: 80px 0;
}

.section-two label input {
    margin-bottom: 40px;
    vertical-align: top;
}

.subscription-plans {
    margin: 0 -10px;
}

.plan {
    flex: 1;
    width: calc(100% / 3 - 10px);
    margin: 10px;
    border: 1px solid lightgrey;
}

.subscription-plans .plan .plan-title,
.client-service .title {
    font-size: 1.3rem;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 8px 0;
}

.subscription-plans .plan .plan-info {
    padding: 20px 25px;
}

.subscription-plans .plan h3,
.client-service .info .info-left h3 {
    font-size: 2rem;
}

.subscription-plans .plan h4 {
    font-weight: 700;
}

.subscription-plans .plan hr {
    width: 60px;
    background-color: #f0f0f1;
}

.subscription-plans .plan > div {
    font-size: 1.4rem;
}

.subscription-plans .plan ul li a > .btn-primary,
.client-service .info .info-right div a > .btn-primary {
    padding: 10px 20px;
    border: 0;
}

.subscription-plans .plan ul li > .buy {
    text-decoration: underline;
    color: #8110f0;
}

.subscription-plans .plan ul li > .fa-check {
    color: #8110f0;
}

.subscription-plans .plan ul li > p {
    display: inline;
}

.client-service {
    margin-top: 30px;
     border: 1px solid lightgrey;
}

.client-service > .info {
    padding: 40px;
}

.client-service .info .info-left h4 {
    font-size: 1.3rem;
}

.client-service .info .info-left {
    width: 60%;
}

.client-service .info .info-right {
    justify-content: flex-end;
    width: 40%;
}

.client-service .info .info-right > div {
    margin-top: 10px;
}

/* Section 3*/

.section-three .left {
    width: 60%;
}

.section-three .left img {
    width: 100%;
}

.section-three .right {
    padding: 40px;
    width: 40%;
}

.section-three .right h3 {
    font-size: 3rem;
}


.section-three .right p {
    font-size: 1.6rem;
    line-height: 25px;
}

.section-three .right a > button {
    background-color: transparent;
    border: 1px solid black;
    padding: 10px 16px;
}

/* Section 4*/

.drop-business-ctn {
    flex-wrap: wrap;
    margin: 0 -10px;
}

.drop-business-ctn .item {
    width: calc(100% / 3 - 20px);
    margin: 10px;
}

.drop-business-ctn .item img {
    width: 100%;
}

.drop-business-ctn .item h3 {
    font-size: 2.4rem;
}


/* Section 5*/

.section-five h2 {
    font-size: 3.5rem;
    line-height: 45px;
}

.section-five a {
    text-decoration: underline;
    color: #0b0ef2;
}


/*************** FOOTER *****************/


